# Kafka Configuration
KAFKA_BOOTSTRAP=kafka:29092

# Kafka Topics
TOPIC_RAW=water-quality-raw
TOPIC_ENRICHED=water-quality-enriched
TOPIC_PREDICTION=water-quality-prediction
TOPIC_VIOLATION=water-quality-violation
TOPIC_METRICS=water-quality-metrics

# PostgreSQL Connection String (Neon Database)
# Format: postgresql://username:password@host/database?sslmode=require&channel_binding=require
CONN_STR=postgresql://neondb_owner:npg_vSVkYdKPj6Q2@ep-silent-water-a1q1b7so-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Grafana PostgreSQL settings
POSTGRES_HOST=ep-silent-water-a1q1b7so-pooler.ap-southeast-1.aws.neon.tech
POSTGRES_DB=neondb
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_vSVkYdKPj6Q2

# Producer Settings
CSV_FILE=2025-C.csv
SLEEP_SECONDS=1

# ML Training Settings
TRAIN_CHECK_INTERVAL=60
TRAIN_THRESHOLD=500
TRAIN_FETCH_LIMIT=50000
MODEL_DIR=./models
